<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648631165252-tj6hbhcvvcbjkb5ccp5t02sunepfdjmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648631165252-tj6hbhcvvcbjkb5ccp5t02sunepfdjmg</string>
	<key>API_KEY</key>
	<string>AIzaSyA1VFFXmQHgk3Iop53u3C2q7R1qA2WqSQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>648631165252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.egyArmyForce</string>
	<key>PROJECT_ID</key>
	<string>egy-army-force</string>
	<key>STORAGE_BUCKET</key>
	<string>egy-army-force.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648631165252:ios:c87a22d500b7fa7d643711</string>
</dict>
</plist>